<div class="well well-sm">
  <div class="row">
    <div class="col-lg-12">
      <%= link_to root_path, class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-home fa-3x"></i><br/> Home
      <% end %>
      <%= link_to classrooms_path, class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-copy fa-3x"></i><br/> Matrículas
      <% end %>

        <%= link_to students_path, class: "btn btn-default" do %>
          <i class="fa fa-user fa-3x"></i><br/> Alunos
        <% end %>
        </a>
        <%= link_to courses_path, class: "btn btn-default" do %>
          <i class="fa fa-book fa-3x"></i><br/> Cursos
        <% end %>
    </div>
 </div>
</div>
